body{
    background-color: wheat;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.color-div{ 
    background-color: #76B38F;
    width: 19rem;
    height: 40rem;
    border-radius: 0.9rem;
    border:3px solid black;
}
.container,
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container2{
    margin-left: 2rem;
}
.heading{
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bolder;
    color: #175230;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
}

.hexaBtn{
    padding:1.1rem 1.8rem ;
    font-size: 1.2rem;
    margin-left: 10px;
}
.hexaBtn,
.start-stop,
.copy-icon{
    border-radius: 0.6rem;
    border: none;
    font-weight: bold;
    cursor:pointer;
    margin-top: 0.5rem;
    background-color: #76B38F;
    color: #213737;
}
.start-stop{
    padding:1rem 4rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.hexaBtn:hover,
.start-stop:hover,
.copy-icon:hover{
    transform: scale(1.1);
}
.hexaBtn:active,
.start-stop:active,
.copy-icon:active{
    transform: scale(1);
}
.copy-div{
    display: flex;
    /* margin-right: 0.5rem; */
}

.copy-icon img{
    height: 2rem;
}       
